<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>404 Not Found</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div
      style="
        text-align: center;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      "
    >
      <h1
        style="font-size: 96px; width: 900px; margin: auto; margin-bottom: 60px"
      >
        404 - Halaman Tidak Ditemukan
      </h1>
      <p>Maaf, halaman yang Anda cari tidak tersedia.</p>
      <a th:href="@{/}">Kembali ke Beranda</a>
    </div>
  </body>
</html>
